//
// Login
//----------------------

.container {}

.login-page {
    margin-top: 25px;

    .outline {
        width: 600px;
        // padding: 15px;
        float: left;
        // background: #fff;
        // border-bottom: 1px solid #d8d8d8;
        // .box-shadow( 0 1px 0px rgba( 216, 216, 216, .9 ) );
        .border-radius( 2px );
    }

    .auth {
        width: 300px;
        float: right;
    }

    .outline img {
        // border: 1px solid #bfb19e;
        .border-radius( 2px );
        width: 600px;
        height: 300px;

    }
}


// Login form
.login-component {
    width: 300px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    .box-shadow( 0 1px 0px rgba( 224, 224, 224, .9 ) );
    .border-radius( 2px );


    .header {
        padding: 15px 15px 0 15px;
        .border-radius( 2px 2px 0 0 );
    }

    .content {
        padding: 15px 15px 0 15px;
    }

    .content .notification {
        & > p { display: none; }

        .error {
            color: @errorText;
        }

        .success {
            color: @successText;
        }
    }

    .footer {
        padding: 15px;
        // background-color: darken( #f8f3ef, 2% );
        .border-radius( 0 0 2px 2px );
    }
}

