<div class="post clearfix">
    <div class="thumbnail">
        <img src="/static/images/miranda.jpg" alt="">
    </div>
    <div class="content">
        <h3>Miranda Kerr</h3>
        <p>
            The best reason to start an organization is to make meaning --
            to create a product or service to make the world a better place.
        </p>
    </div>
    <div class="date">
        4 Hours
    </div>
</div>