<!DOCTYPE html>
<html>
    <head>
        <title>Streamr</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.min.css">
    </head>
    <body>
        <header class="main-header">
            <div class="container">
                <h2>Streamr | <small>Simple Social Feed</small></h2>
            </div>
        </header>
        {% block main_content %}
        {% endblock %}

        {% block misc %}
        {% endblock %}
        <script src="{{ STATIC_URL }}js/lib/libraries.min.js"></script>
        <script src="{{ STATIC_URL }}js/scripts.min.js"></script>
    </body>
</html>