{% extends 'base.html' %}

<!-- Login template -->
{% block main_content %}
    <div class="container">

        <div class="login-page">

            <div class="outline">
                <img src="{{ STATIC_URL }}images/home-demo.jpg" alt="">
                <h3>Whats It?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elig set  Lorem ipsum dolor sit amet consectetur adipisicing elig set do. Lorem ipsum dolor sit amet consectetur adipisicing elig set do.do.</p>
            </div>

            <div class="auth">
                <div class="login-component">

                    <div class="header">
                        <h4>Login To Your Account</h4>
                    </div>  

                    <form class="login-form">

                        <div class="content">
                            <div>
                                <label for="#">Username</label>
                                <input name="username" class="input-block-level" type="text">
                            </div>
                            <div>
                                <label for="#">Password</label>
                                <input name="password" class="input-block-level" type="text">
                            </div>

                            <div class="notification">
                                <p class="error">Either your password or username is incorrect.</p>
                            </div>

                            <center>
                                <p>
                                    <a href="#">Or Register</a>
                                </p>
                            </center>
                        </div>

                        <div class="footer">
                            <input class="btn btn-large btn-block btn-warning" data-original-text="Sign In" type="submit" value="Sign In">
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}